<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="author" content="Andrew Boyer">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        
        <title>Boyer Beats</title>

        <!-- JQuery -->
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="https://asboyer.com/static/css/style.css">
        
        {% block styles %}
        {% endblock %}

    </head>

    <body>
        <header>

        </header>
        
        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}

    </body>    
</html>